<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='input_styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Customer Review Sentiment Analysis</h1>
        <form id="sentimentForm" action="/analyze" method="POST">
            <input type="text" id="input_text" class="input" name="text" placeholder="Enter your feedback:"><br><br>
            <input type="submit" class="submit-button" value="Submit">
        </form>

        <div id="sentimentResult">
            <h2>Predicted Sentiment:</h2>
            <h2 id="sentimentText"></h2>
            <img id="sentimentImage" src="" alt="Sentiment Graph">
        </div>
    </div>
    <div id="loadingContainer">
        <svg viewBox="0 0 240 240" class="pl" id="loadingAnim">
          <circle
            stroke-linecap="round"
            stroke-dashoffset="-330"
            stroke-dasharray="0 660"
            stroke-width="20"
            stroke="#000"
            fill="none"
            r="105"
            cy="120"
            cx="120"
            class="pl__ring pl__ring--a"
          ></circle>
          <circle
            stroke-linecap="round"
            stroke-dashoffset="-110"
            stroke-dasharray="0 220"
            stroke-width="20"
            stroke="#000"
            fill="none"
            r="35"
            cy="120"
            cx="120"
            class="pl__ring pl__ring--b"
          ></circle>
          <circle
            stroke-linecap="round"
            stroke-dasharray="0 440"
            stroke-width="20"
            stroke="#000"
            fill="none"
            r="70"
            cy="120"
            cx="85"
            class="pl__ring pl__ring--c"
          ></circle>
          <circle
            stroke-linecap="round"
            stroke-dasharray="0 440"
            stroke-width="20"
            stroke="#000"
            fill="none"
            r="70"
            cy="120"
            cx="155"
            class="pl__ring pl__ring--d"
          ></circle>
        </svg>
      </div>
    <script>
        const loading = document.getElementById('loadingContainer');
        loading.style.display = 'none';
        document.getElementById("sentimentForm").addEventListener("submit", function (event) {
            event.preventDefault();
            var form = event.target;
            var formData = new FormData(form);
            loading.style.display = 'block';

            fetch(form.action, {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("sentimentText").innerText = "" + data.sentiment;

                    if (data.plot_url) {
                        // Set the source of the image element to the returned plot_url
                        document.getElementById("sentimentImage").src = "data:image/png;base64," + data.plot_url;
                        document.getElementById("sentimentImage").style.display = "block"; // Display the image
                    } else {
                        // Handle case where plot_url is undefined or null
                        console.error("Plot URL is undefined or null.");
                    }
                    loading.style.display = 'none';
                    document.getElementById("sentimentResult").style.display = "block";
                })
                .catch(error => {
                    console.error('Error:', error);
                    loading.style.display = 'none';
                });
        });

    </script>
</body>

</html>